<form action="/productos" method="post" enctype="multipart/form-data">

    <h1>INICIO</h1>

    <label>Titulo</label>
    <input type="text" name="titulo">

    <label>Precio</label>
    <input type="number"" name="precio">

    <label >Imagen</label>
    <input type="file" name="image">

    <button> Enviar producto </button>
</form>
<a href="/productos">ver mas</a>

<%- include("./partials/head")%>