<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Productos</h1>
    <form id="productForm">
        <label>Titulo</label>
        <input type="text" name="title">
        <label>Precio</label>
        <input type="number" name="price">
        <label>Portada</label>
        <input type="text" name="thumbnail">
        <button type="submit">Enviar</button>
    </form>
    </a>
</div>
</body>
<script src="index.js"></script>
</html>