<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <ul>
    <li>
        <label for="">Email</label>
        <input type="text" name="email">
    </li>
    <li>
        <label for="">Contraseña</label>
        <input type="password" name="password">
    </li>
    <li>
        <button type="submit">Log in</button>
    </li>
    </ul>
    </form>
    <p>No se registro? <a href="/register">Registrese aca</a></p>
</body>
</html>